.usersResults {
    margin: 0 10px;
}

th {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

th:hover {
    background-color: #ddd;
}

th:not(:first-child) {
    text-align: center;
}

tbody tr:hover {
    background-color: #cec;
}

td:last-child {
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.results {
    display: none;
}

.search input {
    margin: 10px;
}

.form-control {
    width: 300px;
    height: 30px;
}

table {
    width: 100%;
    table-layout: fixed;
}


/* наша HTML-таблица */

table.sort {
    border-spacing: 0.1em;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: white;
}


/* ячейки таблицы */

table.sort td {
    border: 1px solid #CCCCCC;
    padding: 0.3em 1em
}


/* заголовки таблицы */

table.sort thead td {
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    text-align: center;
    vertical-align: middle
}


/* заголовок отсортированного столбца */

table.sort thead td.curcol {
    background-color: #999999;
    color: #FFFFFF
}


/* Стили для выбранного заголовка */

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
    background: #ddd;
}


/* Стили для указателя */

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "v"
}

th.sorted[data-order="1"]::after {
    content: "^"
}

.block {
    text-align: justify;
    font-size: 14px;
    background: white;
    padding: 10px 10px;
    border-radius: 5px;
    color: #6B6B6B;
}

.docs {
    display: flex;
    flex-direction: column;
}

.docs li {
    text-align: start;
    list-style-type: decimal;
}

.block a {
    color: #3498bd;
}

.block a:hover {
    color: #00bafd;
}

.docs li:not(:last-child) {
    margin-bottom: 3px;
}

.notice {
    color: rgb(0, 196, 0);
}

.stepsBlock {
    max-width: 450px;
}

.steps {
    max-width: 430px;
}

#imgs {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#imgs img {
    width: 150px;
}

.answr {
    background: white;
    padding: 15px;
}

.block ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.block ul li {
    list-style-type: disc;
    text-align: justify;
}

@media (max-width: 935px) {
    .form__line {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .steps {
        max-width: 300px;
    }
    .form__line input {
        width: 250px;
    }
    #startBtn {
        width: 258px;
    }
    .navigations {
        margin-top: 10px;
    }
    #imgs div img {
        width: 100px;
    }
    nav.navBlock li {
        max-width: 120px;
    }
}

.big {
    font-weight: bold;
}